* {
  font-family: "NATS";
}

ion-content {
  --background: linear-gradient(
    180deg,
    #d5e6ff -8.94%,
    #fff 27.36%,
    #fff 61.93%,
    #c9deff 101.69%
  );

  ion-grid {
    .disabled-row {
      ion-col {
        color: var(--Text3, #9fa7b2) !important;
        font-size: 14px;
        font-weight: 400;
      }
    }

    ion-col {
      display: flex;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      svg {
        margin-inline: 5px;
        cursor: pointer;

        &:focus {
          border: none;
          outline: none;
        }
      }

      #heading {
        color: var(--Primary, #1540bd);
        font-size: 18px;
        font-weight: 400;
      }

      ion-text {
        color: var(--Buttons, #1659be);
        text-align: right;
        font-size: 12px;
        font-weight: 400;
      }
    }

    #nav {
      svg {
        margin-inline: 0 !important;
        margin-inline-end: 1.5px !important;
      }
    }
  }

  ion-card {
    border-radius: 16px;
    box-shadow: 2px 2px 5px 2px rgba(53, 122, 248, 0.1);
    background-color: rgb(254, 254, 254);
    filter: drop-shadow(0px 4px 10px rgba(53, 122, 248, 0.1));

    .heading {
      color: var(--Primary, #1540bd);
      font-size: 16px;
      font-weight: 400;
    }

    ion-grid {
      ion-col {
        color: var(--Primary, #1540bd);
        text-align: right;
        font-size: 14px;
        font-weight: 400;
      }

      .col-head {
        color: var(--Text1, #505e86) !important;
      }

      .to-be-filled {
        color: var(--Waiting-Post-Delivery-Vehicles, #d97a07);
      }
    }

    div {
      img {
        height: 151px;
        width: 100%;
        border-radius: 12px;
        border: 1px solid rgba(206, 211, 241, 0.62);
        object-fit: cover;
      }
    }

    .tab-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: fit-content;
      height: 56px;
      padding: 8px;
      margin-inline: auto;
      border-radius: 60px;
      background: #fff;
      margin-top: 20px;

      ion-button {
        display: flex;
        width: fit-content;
        font-size: 12px !important;
        height: 40px;
        justify-content: center;
        align-items: center;
        --border-radius: 50px;
        --background: #fff;
        --color: #1540bd;
      }

      .active-btn {
        --background: #1540bd !important;
        --color: #fff !important;
      }
    }
  }
}

.model {
  --background: white;

  .head1 {
    color: var(--Primary, #1540bd);
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 10px;
  }
  section {
    padding: 15px;
  }

  .imgSection {
    height: 18rem;
    overflow-y: auto;
  }

  .header {
    padding: 5px 10px 20px 10px;
    text-align: center;

    .head {
      color: var(--Primary, #1540bd);
      font-size: 20px;
      font-weight: 400;
      padding-top: 8px;
      padding-left: 10px;
    }
  }

  .camera {
    height: 40px;
    width: 156px;
    text-transform: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      margin: 0 10px;
    }
  }

  .container {
    ion-input.custom {
      --background: transparent;
      --color: var(--Text3, #9fa7b2);
      --placeholder-color: #ddd;
      --placeholder-opacity: 0.8;
    }

    .Variable {
      margin-bottom: 8px;
    }

    ion-item {
      border-radius: 12px;
      --background: #fff;
      border: 1px solid rgba(206, 211, 241, 0.62);
    }

    .dropdown {
      margin-bottom: 15px;
      height: 48px;
      color: var(--Text3, #9fa7b2);
    }

    .limit {
      display: flex;
      justify-content: space-between;

      .lower {
        width: 48%;
        height: 56px;
      }

      .upper {
        width: 48%;
        height: 56px;
      }
    }
  }

  .tab-submit-bar {
    width: calc(100% - 20px) !important;

    div {
      display: flex;
      justify-content: center;
      background: rgba(168, 205, 255, 0.29);
      align-items: center;
      width: fit-content;
      height: 56px;
      padding: 8px;
      margin-inline: auto;
      margin-top: 20px;
      border-radius: 60px;
    }

    ion-button {
      display: flex;
      width: fit-content;
      font-size: 14px;
      height: 40px;
      justify-content: center;
      align-items: center;
      --border-radius: 50px;
      --background: #fff;
      --color: #1540bd;
    }

    .deactive-btn {
      --color: #fff !important;
      --background: var(--Secondary, #b1c3cb) !important;
      margin-right: 10px;
    }

    .active-btn {
      --background: #1540bd !important;
      --color: #fff !important;
      margin-right: 10px;
    }
  }
}

.container {
  .text {
    color: var(--Primary, #1540bd);
    font-size: 16px;
    font-weight: 400;
  }

  .import-container {
    display: flex;
    justify-content: space-between;

    .import {
      width: 61%;
    }

    .export {
      width: 35%;
    }
  }

  ion-button {
    width: 100%;
    height: fit-content;
    color: #1540bd;
    --background: white;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --ripple-color: #c9deff;

    --padding-top: 16px;
    --padding-bottom: 16px;

    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      text-transform: none;

      svg {
        margin-left: 6px;
      }
    }
  }
}

// ion-modal ion-content {
//   .data-box {
//     display: flex;
//     padding: 13px;
//     justify-content: space-between;
//     align-items: center;
//     border-radius: 12px;
//     border: 1px solid rgba(206, 211, 241, 0.62);
//     background: #fff;

//     span {
//       color: var(--Text1, #505e86);
//       font-size: 14px;
//       font-weight: 400;
//     }
//   }

//   .tab-bar {
//     margin-top: 20px !important;
//   }
// }

.dismissModal {
  .tab-bar-error {
    display: flex;
    width: 224px;
    height: 56px;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    background: #ffe7d0;

    button {
      display: flex;
      width: 100px;
      padding: 12px 34px 12px 35px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background: #fff;
      color: #f2825c;
      font-size: 14px;
      font-weight: 400;
    }

    .active-btn {
      padding: 16px !important;
      gap: 16px;
      background: #f2825c !important;
      color: #fff !important;
    }
  }

  .active {
    background: #1540bd !important;
    color: #fff !important;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
    margin: 40px auto;
  }

  ion-text {
    color: #1540bd;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%; /* 20px */
    letter-spacing: -0.22px;
    text-align: center;
  }

  .error {
    color: var(--Suspended-Shipments, #ea712e) !important;
  }

  .wrapper {
    margin: 0 auto;
    height: 380px;

    ion-item {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.status {
  display: flex;
  width: fit-content;
  height: 17px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--Pending-For-Dispatch, #1784ec);
}

.overflow,
.prdouctName {
  text-align: left!important;
    width: 9rem !important;
}

.products {
  background: #e0e8f8;
  border-radius: 6px;
  color: var(--Text3, #9fa7b2) !important;
  margin: 5px auto;
}

.prdouctName {
  width: 1rem !important;
}

ion-grid {
  ion-col {
    color: var(--Primary, #1540bd);
    text-align: right;
    font-size: 14px;
    font-weight: 400;
  }

  .col-head {
    color: var(--Text1, #505e86) !important;
  }

  .to-be-filled {
    color: var(--Waiting-Post-Delivery-Vehicles, #d97a07);
  }
}

.container1 {
  width: 328px;
  height: 191px;
  margin: 20px auto;
  display: block;
  position: relative;
  border-radius: 12px;
  border: 1.5px solid rgba(206, 211, 241, 0.62);

  img {
    width: 328px;
    height: 191px;
    object-fit: cover;
    border-radius: 12px;
  }

  .inner {
    // height: 43px;
    // width: 43px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .camera-icon {
      height: 40px;
      width: 40px;
      padding: 5px;
      margin: 0 10px;
      border-radius: 12px;
      background-color: #fff;
    }

    .remove-icon {
      height: 40px;
      width: 40px;
      padding: 5px;
      border-radius: 12px;
      background-color: #fff;
    }
  }
}
