* {
  box-sizing: border-box;
}

.notification-container {
  --background: linear-gradient(
    180deg,
    #d5e6ff -8.94%,
    #fff 27.36%,
    #fff 61.93%,
    #c9deff 101.69%
  );
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-start: 15px;
  --padding-end: 15px;

  .header {
    display: flex;
    padding: 10px 10px 10px 7px;
    justify-content: space-between;

    .d-flex {
      display: flex;
      gap: 17px;

      .img {
        padding-top: 7px;
      }

      .head {
        padding-top: 6px;
        color: var(--Primary, #1540bd);
        font-size: 20px;
        font-weight: 400;
        padding-left: 8px;
      }

      .refresh-icon{
        padding-top: 5px;
      }
      .option-icon {
        padding-top: 8px;
      }
    }
  }

  .no-notifications {
    margin-top: 6rem;

    p {
      text-align: center;
      margin: 10px 0;
    }

    .notification-head {
      color: var(--Primary, #1540bd);
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 100%; /* 20px */
      letter-spacing: -0.22px;
    }
  }

  .date-heading {
    color: var(--Primary, #1540bd);
    font-size: 14px;
    font-weight: 400;
    margin: 16px 0;
  }

  .notification-box {
    margin: 14px 0;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    border-radius: 12px;
    border: 2px solid rgba(23, 76, 230, 0.5);

    .preview-text {
      color: var(--Text1, #505e86);
      font-size: 14px;
      word-wrap: break-word;
      text-overflow: ellipsis;
      font-weight: 400;
      p{
        margin: 0px;
      }
    }
  }
}


.tab-bar {
  position: fixed;
  width: calc(100% - 20px);
  bottom: 10%;

  div {
    display: flex;
    justify-content: center;
    background: rgba(168, 205, 255, 0.29);
    align-items: center;
    width: fit-content;
    height: 56px;
    padding: 8px;
    margin-inline: auto;
    margin-top: 20px;
    border-radius: 60px;
  }

  ion-button {
    display: flex;
    width: fit-content;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    align-items: center;
    --border-radius: 50px;
    --background: #fff;
    --color: #1540bd;
  }

  .active-btn {
    --background: #1540bd !important;
    --color: #fff !important;
    margin-right: 10px;
  }
}


