<ion-content class="notification-container">
  <header>
    <div class="header">
      <div class="d-flex">
        <div (click)="goBack()" class="img">
          <img src="assets/icon/back-button.svg" alt="back-btn" />
        </div>
        <div class="head">Notifications</div>
      </div>
      <div class="d-flex">
        <div class="refresh-icon" (click)="refresh()">
          <img src="assets/icon/refresh.svg" alt="refresh-btn" />
        </div>
        <div class="option-icon">
          <img src="assets/icon/more_vert.svg" alt="option-vert" />
        </div>
      </div>
    </div>
  </header>

  <!-- Show vector image if there are no notifications -->
  <div *ngIf="!isNotifications" align="center" class="ion-padding ion-margin no-notifications">
    <img src="assets/images/notification.png" alt="Vector Image" />
    <p class="notification-head">No Notifications</p>
    <p>You're up-to-date</p>
  </div>

  <!-- Show messages if there are notifications -->
  <div *ngIf="isNotifications">
    <section>
      <ion-text class="date-heading">Today</ion-text>

      <!-- <div *ngFor="let i of [0,1,2]"> -->
      <div class="notification-box">
        <img [src]="notificationIcons.shipmentPending" alt="svg" />
        <ion-grid>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col class="preview-text" size="10">

              <!-- <p>New ZSD imported.</p>
              <p> 10 New Pending Shipments added by xyz and 5 successfully completed</p>
              <p>23 New Pending Shipments added buy xyz</p> -->
              <ion-accordion-group style="--ion-background-color: rgba(0, 0, 0, 0);" [multiple]="true">
                <ion-accordion value="first">
                  <ion-item slot="header" >
                    <ion-label>
                      <ion-row class="ion-justify-content-between ion-align-items-center">
                        <ion-col size="10" >New ZSD imported</ion-col>

                      </ion-row>
                    </ion-label>
                  </ion-item>

                  <div class="ion-padding" slot="content">
                    <ion-row class="ion-justify-content-between ion-align-items-center">
                      <ion-col size="auto">5 shipment are added by xyz</ion-col>
                    </ion-row>
                    <ion-row class="ion-justify-content-between ion-align-items-center">
                      <ion-col size="auto">7 shipment are added by xyz</ion-col>
                    </ion-row>
                  </div>
                </ion-accordion>
              </ion-accordion-group>

            </ion-col>
            <ion-col size="auto">
              <img src="assets/icon/delete-notification.svg" alt="svg" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="notification-box">
        <img [src]="notificationIcons.shipmentSuspended" alt="svg" />
        <ion-grid>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col class="preview-text" size="10">
              Shipment #12567878 suspended buy xyz
            </ion-col>
            <ion-col size="auto">
              <img src="assets/icon/delete-notification.svg" alt="svg" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="notification-box">
        <img [src]="notificationIcons.voucherGenerated" alt="svg" />
        <ion-grid>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col class="preview-text" size="10">
              Shipment #12567879 Voucher Generated.
            </ion-col>
            <ion-col size="auto">
              <img src="assets/icon/delete-notification.svg" alt="svg" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="notification-box">
        <img [src]="notificationIcons.shipmentCompleted" alt="svg" />
        <ion-grid>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col class="preview-text" size="10">
              Shipment #12567880 completed.
            </ion-col>
            <ion-col size="auto">
              <img src="assets/icon/delete-notification.svg" alt="svg" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- </div> -->
    </section>

    <section>
      <ion-text class="date-heading">15 Jan</ion-text>

      <!-- <div *ngFor="let i of [0,1,2]"> -->
      <div class="notification-box">
        <img [src]="notificationIcons.accounts" alt="svg" />
        <ion-grid>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col class="preview-text" size="10">
              2 New Expense Accounts Added.
            </ion-col>
            <ion-col size="auto">
              <img src="assets/icon/delete-notification.svg" alt="svg" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="notification-box">
        <img [src]="notificationIcons.expenseCategories" alt="svg" />
        <ion-grid>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col class="preview-text" size="10">
              3 New Expense Categories Added
            </ion-col>
            <ion-col size="auto">
              <img src="assets/icon/delete-notification.svg" alt="svg" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="notification-box">
        <img [src]="notificationIcons.vendors" alt="svg" />
        <ion-grid>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col class="preview-text" size="10">
              5 New Vendors Added
            </ion-col>
            <ion-col size="auto">
              <img src="assets/icon/delete-notification.svg" alt="svg" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="notification-box">
        <img [src]="notificationIcons.vehicles" alt="svg" />
        <ion-grid>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col class="preview-text" size="10">
              5 New Vehicles Added
            </ion-col>
            <ion-col size="auto">
              <img src="assets/icon/delete-notification.svg" alt="svg" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- </div> -->
    </section>

    <div class="tab-bar">
      <div>
        <ion-button type="submit" shape="round" class="active-btn">Mark Read</ion-button>
        <ion-button shape="round">Delete All</ion-button>
      </div>
    </div>
    
  <div class="below-space"></div>
  </div>

  <div class="below-space"></div>

  


</ion-content>