<ion-content class="wrapper-settings" [fullscreen]="true">
  <div class="wrapper-container">
    <ion-grid>
      <ion-accordion-group
        style="background-color: transparent"
        [multiple]="true"
      >
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-label class="label">
              <ion-row
                class="ion-justify-content-between ion-align-items-center"
              >
                <ion-col size="7" class="head">Voucher Pending Form</ion-col>
                <ion-col size="5" class="add-variable"
                  ><p class="text">Add Variable</p>
                  <p class="img">
                    <img src="assets/icon/plusIcon.svg" alt="" /></p
                ></ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <div slot="content" class="content">
            <ion-row
              class="disabled-row ion-justify-content-between ion-align-items-center"
            >
              <ion-col size="5">Variable Name</ion-col>
              <ion-col size="4">Type</ion-col>
              <ion-col size="2" class="actions">Actions</ion-col>
            </ion-row>
          </div>
          <div class="content-container" slot="content">
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="5" class="text">Vehicle Fuel Capacity</ion-col>
              <ion-col size="3" class="type-select drop-down-color">Drop Down</ion-col>
              <ion-col size="3" class="action">
                <ion-col><img src="assets/icon/disable-toggle-button.svg" alt=""></ion-col>
                <ion-col class="edit-button"><img src="assets/icon/enable-edit-button.svg" alt=""></ion-col>
                <ion-col><img src="assets/icon/disable-delete-button.svg" alt=""></ion-col>
              </ion-col>
            </ion-row>
          </div>
          <div class="content-container" slot="content">
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="5" class="text">Vehicle Fuel Capacity</ion-col>
              <ion-col size="3" class="type-select drop-down-color">Drop Down</ion-col>
              <ion-col size="3" class="action">
                <ion-col><img src="assets/icon/enable-toggle-button.svg" alt=""></ion-col>
                <ion-col class="edit-button"><img src="assets/icon/disable-edit-button.svg" alt=""></ion-col>
                <ion-col><img src="assets/icon/enable-delete-button.svg" alt=""></ion-col>
              </ion-col>
            </ion-row>
          </div>
          <div class="content-container" slot="content">
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="5" class="text">Vehicle Fuel Capacity</ion-col>
              <ion-col size="3" class="type-select">Number</ion-col>
              <ion-col size="3" class="action">
                <ion-col><img src="assets/icon/disable-toggle-button.svg" alt=""></ion-col>
                <ion-col class="edit-button"><img src="assets/icon/disable-edit-button.svg" alt=""></ion-col>
                <ion-col><img src="assets/icon/enable-delete-button.svg" alt=""></ion-col>
              </ion-col>
            </ion-row>
          </div>
          <div class="content-container" slot="content">
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="5" class="text">Vehicle Fuel Capacity</ion-col>
              <ion-col size="3" class="type-select">Number</ion-col>
              <ion-col size="3" class="action">
                <ion-col><img src="assets/icon/enable-toggle-button.svg" alt=""></ion-col>
                <ion-col class="edit-button"><img src="assets/icon/disable-edit-button.svg" alt=""></ion-col>
                <ion-col><img src="assets/icon/disable-delete-button.svg" alt=""></ion-col>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-grid>
  </div>
  <div class="wrapper-container">
    <ion-grid>
      <ion-accordion-group
        style="background-color: transparent"
        [multiple]="true"
      >
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-label class="label">
              <ion-row
                class="ion-justify-content-between ion-align-items-center"
              >
                <ion-col size="7" class="head">Voucher Pending Form</ion-col>
                <ion-col size="5" class="add-variable"
                  ><p class="text">Add Variable</p>
                  <p class="img">
                    <img src="assets/icon/plusIcon.svg" alt="" /></p
                ></ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <div slot="content" class="content">
            <ion-row
              class="disabled-row ion-justify-content-between ion-align-items-center"
            >
              <ion-col size="5">Variable Name</ion-col>
              <ion-col size="4">Type</ion-col>
              <ion-col size="2" class="actions">Actions</ion-col>
            </ion-row>
          </div>
          <div class="content-container" slot="content">
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="5" class="text">Shipment Number</ion-col>
              <ion-col size="3" class="type-select">Number</ion-col>
              <ion-col size="3" class="action">
                <ion-col><img src="assets/icon/disable-toggle-button.svg" alt=""></ion-col>
                <ion-col class="edit-button"><img src="assets/icon/disable-edit-button.svg" alt=""></ion-col>
                <ion-col><img src="assets/icon/disable-delete-button.svg" alt=""></ion-col>
              </ion-col>
            </ion-row>
          </div>
          <div class="content-container" slot="content">
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="5" class="text">Vehicle Fuel Capacity</ion-col>
              <ion-col size="3" class="type-select drop-down-color">Drop Down</ion-col>
              <ion-col size="3" class="action">
                <ion-col><img src="assets/icon/disable-toggle-button.svg" alt=""></ion-col>
                <ion-col class="edit-button"><img src="assets/icon/disable-edit-button.svg" alt=""></ion-col>
                <ion-col><img src="assets/icon/disable-delete-button.svg" alt=""></ion-col>
              </ion-col>
            </ion-row>
          </div>
          <div class="content-container" slot="content">
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="5" class="text">Vehicle Number</ion-col>
              <ion-col size="3" class="type-select">Number</ion-col>
              <ion-col size="3" class="action">
                <ion-col><img src="assets/icon/disable-toggle-button.svg" alt=""></ion-col>
                <ion-col class="edit-button"><img src="assets/icon/enable-edit-button.svg" alt=""></ion-col>
                <ion-col><img src="assets/icon/enable-delete-button.svg" alt=""></ion-col>
              </ion-col>
            </ion-row>
          </div>
          <div class="content-container" slot="content">
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="5" class="text">Vehicle Ownership</ion-col>
              <ion-col size="3" class="type-select drop-down-color">Drop Down</ion-col>
              <ion-col size="3" class="action">
                <ion-col><img src="assets/icon/enable-toggle-button.svg" alt=""></ion-col>
                <ion-col class="edit-button"><img src="assets/icon/disable-edit-button.svg" alt=""></ion-col>
                <ion-col><img src="assets/icon/disable-delete-button.svg" alt=""></ion-col>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-grid>
  </div>
</ion-content>
