<ion-content class="wrapper-settings ion-page" [fullscreen]="true">
  <header>
    <div class="header" >
      <div class="d-flex" routerLink="/main/settings">
        <div class="img" ><img src="assets/icon/back-button.svg" alt=""></div>
        <div class="head">Form Settings</div>
      </div>
    </div>
  </header>
  <div class="wrapper-container first">
    <ion-grid>
      <ion-accordion-group
        style="background-color: transparent"
        [multiple]="true"
      >
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-label class="label">
              <ion-row
                class="ion-justify-content-between ion-align-items-center"
              >
                <ion-col size="7" class="head">Voucher Pending Form</ion-col>
                <ion-col size="5" class="add-variable"  expand="block" (click)="openModal($event , config.formSettingVariable.VoucherPendingForm)">
                  <p class="text">Add Variable</p>
                  <p class="img">
                    <img src="assets/icon/plusIcon.svg" alt="" />
                  </p>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <div slot="content" class="content">
            <ion-row
              class="disabled-row ion-justify-content-between ion-align-items-center"
            >
              <ion-col size="5">Variable Name</ion-col>
              <ion-col size="4">Type</ion-col>
              <ion-col size="2" class="actions">Actions</ion-col>
            </ion-row>
          </div>
          <div class="content-container" slot="content" *ngFor="let item of variableData['voucher-pending-form']">
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="5" class="text">{{item?.variableName}} <div class="import-zsd-file" *ngIf="item?.isZSD">*Imported from ZSD</div></ion-col>
              <ion-col size="3" class="type-select drop-down-color" [ngClass]="{'green-text':item?.variableType=='Number'}">{{item?.variableType}}</ion-col>
              <ion-col size="3" class="action" *ngIf="!item?.isZSD">
                <ion-col><label class="switch">
                  <input type="checkbox" [checked]="item?.active" (change)="updAccountStatus($event, item.id, !item.active ,  config.formSettingVariable.VoucherPendingForm)"/>
                  <span class="slider round"></span>
                </label></ion-col>
                <ion-col *ngIf="!item.noedit" class="edit-button" (click)="editVariable(item , config.formSettingVariable.VoucherPendingForm)"><img src="assets/icon/enable-edit-button.svg" alt=""></ion-col>
                <ion-col *ngIf="item.noedit" class="edit-button"><img src="assets/icon/disable-edit-button.svg" alt=""></ion-col>
                <ion-col *ngIf="!item.nodelete" (click)="toDelete={id: item.id, formSettingVariable: config.formSettingVariable.VoucherPendingForm};showConfirm=true"><img src="assets/icon/enable-delete-button.svg" alt=""></ion-col>
                <ion-col *ngIf="item.nodelete"><img src="assets/icon/disable-delete-button.svg" alt=""></ion-col>
              </ion-col>
              <ion-col size="3" class="action" *ngIf="item?.isZSD">
                <ion-col><label class="switch disable">
                  <input type="checkbox" [checked]="true" [disabled]="true" />
                  <span class="slider round"></span>
                </label></ion-col>
                <ion-col class="edit-button"><img src="assets/icon/disable-edit-button.svg" alt=""></ion-col>
                <ion-col><img src="assets/icon/disable-delete-button.svg" alt=""></ion-col>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-grid>
  </div>
  <div class="wrapper-container first">
    <ion-grid>
      <ion-accordion-group
        style="background-color: transparent"
        [multiple]="true"
      >
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label class="label">
            <ion-row
              class="ion-justify-content-between ion-align-items-center"
            >
              <ion-col size="7" class="head">Post Dlv. Pending Form</ion-col>
              <ion-col size="5" class="add-variable"  expand="block" (click)="openModal($event , config.formSettingVariable.PostDlvPendingForm)">
                <p class="text">Add Variable</p>
                <p class="img">
                  <img src="assets/icon/plusIcon.svg" alt="" />
                </p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <div slot="content" class="content">
          <ion-row
            class="disabled-row ion-justify-content-between ion-align-items-center"
          >
            <ion-col size="5">Variable Name</ion-col>
            <ion-col size="4">Type</ion-col>
            <ion-col size="2" class="actions">Actions</ion-col>
          </ion-row>
        </div>
        <div class="content-container" slot="content" *ngFor="let item of variableData['post-dlv-pending-form']">
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="5" class="text">{{item?.variableName}} <div class="import-zsd-file" *ngIf="item?.isZSD">*Imported from ZSD</div></ion-col>
            <ion-col size="3" class="type-select drop-down-color" [ngClass]="{'green-text':item?.variableType=='Number'}">{{item?.variableType}}</ion-col>
            <ion-col size="3" class="action" *ngIf="!item?.isZSD">
              <ion-col><label class="switch">
                <input type="checkbox" [checked]="item?.active" (change)="updAccountStatus($event, item.id, !item.active ,  config.formSettingVariable.PostDlvPendingForm)"/>
                <span class="slider round"></span>
              </label></ion-col>
              <ion-col *ngIf="!item.noedit" class="edit-button" (click)="editVariable(item , config.formSettingVariable.PostDlvPendingForm)"><img src="assets/icon/enable-edit-button.svg" alt=""></ion-col>
              <ion-col *ngIf="item.noedit" class="edit-button"><img src="assets/icon/disable-edit-button.svg" alt=""></ion-col>
              <ion-col *ngIf="!item.nodelete" (click)="toDelete={id: item.id, formSettingVariable: config.formSettingVariable.PostDlvPendingForm};showConfirm=true"><img src="assets/icon/enable-delete-button.svg" alt=""></ion-col>
              <ion-col *ngIf="item.nodelete"><img src="assets/icon/disable-delete-button.svg" alt=""></ion-col>
            </ion-col>
            <ion-col size="3" class="action" *ngIf="item?.isZSD">
              <ion-col><label class="switch disable">
                <input type="checkbox" [checked]="true" [disabled]="true" />
                <span class="slider round"></span>
              </label></ion-col>
              <ion-col class="edit-button"><img src="assets/icon/disable-edit-button.svg" alt=""></ion-col>
              <ion-col><img src="assets/icon/disable-delete-button.svg" alt=""></ion-col>
            </ion-col>
          </ion-row>
        </div>
      </ion-accordion>
      </ion-accordion-group>
    </ion-grid>
  </div>
  <div class="below-space"></div>
  <ion-modal #modal [isOpen]="isModalOpen"  [presentingElement]="presentingElement" class="model">
    <ng-template>
      <section>
        <header>
          <div class="header">
            <div class="img" (click)="closeModal();modal.dismiss()"><img src="assets/icon/back-button.svg" alt=""></div>
            <div class="head">Add New Variable</div>
          </div>
        </header>
        <form [formGroup]="formSettings" (ngSubmit)="submitForm()">
          <div class="container">
            <ion-item lines="none" class="Variable">
              <ion-input
                lines="none"
                label="Variable Name"
                formControlName="variableName"
                class="custom"
                labelPlacement="floating"
                required
              ></ion-input>
            </ion-item>
            <ion-item class="dropdown">
              <ion-select label="Type" formControlName="variableType">
                <ion-select-option value="Drop Down">Drop Down</ion-select-option>
                <ion-select-option value="Number">Number</ion-select-option>
              </ion-select>
            </ion-item>
            <div class="limit">
              <ion-item lines="none" class="lower">
                <ion-input
                  lines="none"
                  fill="solid"
                  label="Lower Limit"
                  formControlName="lowerLimit"
                  class="custom"
                  labelPlacement="floating"
                ></ion-input>
              </ion-item>
              <ion-item lines="none" class="upper">
                <ion-input
                  lines="none"
                  label="Upper Limit"
                  fill="solid"
                  formControlName="upperLimit"
                  class="custom"
                  labelPlacement="floating"
                ></ion-input>
              </ion-item>
            </div>
          </div>
          <div class="tab-bar">
            <div>
              <ion-button type="submit" shape="round" class="active-btn">Submit</ion-button>
              <ion-button shape="round" (click)="closeModal();modal.dismiss()">Cancel</ion-button>
            </div>
          </div>
        </form>        
      </section>
    </ng-template>
  </ion-modal>

  <app-confirmation (event)="delete($event)" [show]="showConfirm"></app-confirmation>
</ion-content>
