<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <a
      routerLink="/login"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      ><ion-icon name="arrow-back-outline"></ion-icon
    ></a>
  </div>

  <div align="center" class="heading ion-padding">
    <ion-text>Account Permission Error !</ion-text>
  </div>

  <div align="center" class="ion-padding ion-margin">
    <img src="../../../assets/icon/no access error.svg" alt="error" />
  </div>

  <div align="center" class="notice-section ion-margin-vertical ion-padding">
    <ion-text>You Don't Have Permission</ion-text>
    <p>
      Contact Admin To Add Your Account. Refresh Or Login with a Different ID
    </p>

    <div class="tab-bar">
      <ion-button shape="round" class="active-btn">Refresh</ion-button>
      <ion-button shape="round">Logout</ion-button>
    </div>
  </div>
</ion-content>
