<ion-content [fullscreen]="true">
  <div align="center" class="heading ion-padding">
    <ion-text>Account Permission Error !</ion-text>
  </div>

  <div align="center" class="ion-padding ion-margin">
    <img src="../../../assets/icon/no access error.svg" alt="error" />
  </div>

  <div align="center" class="notice-section ion-margin-vertical ion-padding">
    <p class="notice-head">You Don't Have Permission</p>
    <p>Contact Admin To Add Your Account.</p>
    <p>Refresh Or Login with a Different ID</p>

    <div class="tab-bar">
      <ion-button (click)="refresh()" shape="round" class="active-btn"
        >Refresh</ion-button
      >
      <ion-button (click)="logout()" shape="round">Logout</ion-button>
    </div>
  </div>
</ion-content>
