* {
  font-family: "NATS";

  ion-icon {
    color: #1540bd;
    font-size: 22px;
    font-weight: 600;
  }
  a {
    text-decoration: none !important;
    margin-top: 4.25px;
    margin-right: 12px;
  }
}

ion-content {
  --background: linear-gradient(
    164deg,
    #d5e6ff -0.3%,
    #fff 31.71%,
    #fff 62.19%,
    #c9deff 97.25%
  );

  .heading {
    display: flex;
    align-items: center;

    ion-text {
      color: #1540bd;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .reset-section {
    ion-item {
      width: 300px;
      height: 50px;
      border-radius: 30px;
      margin: 20px 0;
    }

    ion-button {
      width: 300px;
      height: fit-content;
      color: #fff;

      --background: #1540bd;
      --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

      --ripple-color: #c9deff;

      --border-color: #b1c3cb;
      --border-style: solid;
      --border-width: 1px;

      --padding-top: 16px;
      --padding-bottom: 16px;
    }

    .input-text {
      border: 1px solid var(--Secondary, #b1c3cb);
      margin: 16px 0;
    }

    p,
    a {
      color: var(--Buttons, #1659be);
      font-family: Merge One;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
    }
  }
}
ion-modal ion-content {
  ion-item {
    .error {
      color: #ea712e !important;
    }
  }
  .active {
    background: #1540bd !important;
    color: #fff !important;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
    margin: 40px auto;
  }
}
