<ion-content class="vendor-container">
    <app-header headerName="Import & Export"></app-header>
    <section>
        <div class="container margin-top-0">
            <p class="text">
                ZSD Excel File
            </p>
            <div class="import-container">
                <div class="import">
                    <ion-button shape="round">
                        <label for="uploadZSD">
                          Import
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M3.33268 15.8333H16.666V10H18.3327V16.6667C18.3327 17.1269 17.9596 17.5 17.4993 17.5H2.49935C2.03912 17.5 1.66602 17.1269 1.66602 16.6667V10H3.33268V15.8333ZM10.8327 7.5V13.3333H9.16602V7.5H4.99935L9.99935 2.5L14.9993 7.5H10.8327Z" fill="#1540BD"/>
                            </svg>
                        </label>
                      </ion-button>
                      <input type="file" id="uploadZSD" style="display: none" />
                </div>
                <div class="export">
                    <ion-button shape="round">
                        <label for="uploadZSD">
                            Export Blank 
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M10.8327 8.33333H14.9993L9.99935 13.3333L4.99935 8.33333H9.16602V2.5H10.8327V8.33333ZM3.33268 15.8333H16.666V10H18.3327V16.6667C18.3327 17.1269 17.9596 17.5 17.4993 17.5H2.49935C2.03912 17.5 1.66602 17.1269 1.66602 16.6667V10H3.33268V15.8333Z" fill="#1540BD"/>
                                </svg>
                        </label>
                      </ion-button>
                      <input type="file" id="uploadZSD" style="display: none" />
                </div>  
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="text">
                Vehicle Master Dataset
            </p>
            <div class="import-container">
                <div class="import">
                    <ion-button shape="round">
                        <label for="uploadZSD">
                          Import
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M3.33268 15.8333H16.666V10H18.3327V16.6667C18.3327 17.1269 17.9596 17.5 17.4993 17.5H2.49935C2.03912 17.5 1.66602 17.1269 1.66602 16.6667V10H3.33268V15.8333ZM10.8327 7.5V13.3333H9.16602V7.5H4.99935L9.99935 2.5L14.9993 7.5H10.8327Z" fill="#1540BD"/>
                            </svg>
                        </label>
                      </ion-button>
                      <input type="file" id="uploadZSD" style="display: none" />
                </div>
                <div class="export">
                    <ion-button shape="round">
                        <label for="uploadZSD">
                            Export Blank 
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M10.8327 8.33333H14.9993L9.99935 13.3333L4.99935 8.33333H9.16602V2.5H10.8327V8.33333ZM3.33268 15.8333H16.666V10H18.3327V16.6667C18.3327 17.1269 17.9596 17.5 17.4993 17.5H2.49935C2.03912 17.5 1.66602 17.1269 1.66602 16.6667V10H3.33268V15.8333Z" fill="#1540BD"/>
                                </svg>
                        </label>
                      </ion-button>
                      <input type="file" id="uploadZSD" style="display: none" />
                </div>  
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="text">
                Vendor Master Dataset
            </p>
            <div class="import-container">
                <div class="import">
                    <ion-button shape="round">
                        <label for="uploadZSD">
                          Import
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M3.33268 15.8333H16.666V10H18.3327V16.6667C18.3327 17.1269 17.9596 17.5 17.4993 17.5H2.49935C2.03912 17.5 1.66602 17.1269 1.66602 16.6667V10H3.33268V15.8333ZM10.8327 7.5V13.3333H9.16602V7.5H4.99935L9.99935 2.5L14.9993 7.5H10.8327Z" fill="#1540BD"/>
                            </svg>
                        </label>
                      </ion-button>
                      <input type="file" id="uploadZSD" style="display: none" />
                </div>
                <div class="export">
                    <ion-button shape="round">
                        <label for="uploadZSD">
                            Export Blank 
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M10.8327 8.33333H14.9993L9.99935 13.3333L4.99935 8.33333H9.16602V2.5H10.8327V8.33333ZM3.33268 15.8333H16.666V10H18.3327V16.6667C18.3327 17.1269 17.9596 17.5 17.4993 17.5H2.49935C2.03912 17.5 1.66602 17.1269 1.66602 16.6667V10H3.33268V15.8333Z" fill="#1540BD"/>
                                </svg>
                        </label>
                      </ion-button>
                      <input type="file" id="uploadZSD" style="display: none" />
                </div>  
            </div>
        </div>
    </section>
</ion-content>