ion-card {
  border-radius: 16px;
  box-shadow: 2px 2px 5px 2px rgba(53, 122, 248, 0.1);
  background-color: rgb(254, 254, 254);
  filter: drop-shadow(0px 4px 10px rgba(53, 122, 248, 0.1));
  backdrop-filter: blur(25px);

  ion-icon {
    color: #1540bd;
    cursor: pointer;
  }

  .head {
    ion-col {
      display: flex;
      align-items: center;
      color: #1540bd;
      font-size: 16px;
      font-weight: 500;
      svg {
        margin: 0 16px;
        cursor: pointer;
      }
    }
  }

  ion-searchbar.custom {
    --placeholder-color: #1540bd;
    --icon-color: #1540bd;
    --clear-button-color: #1540bd;
    --background: transparent;
    --filter: drop-shadow(0px 4px 10px rgba(53, 122, 248, 0.1));
    --backdrop-filter: blur(25px);
    --box-shadow: 0px 0px 0px 1px #1540bd;
    --border-radius: 12px;
    --color: #1540bd;
    font-size: 12px;
    font-weight: 400;
  }

  ion-grid {
    div {
      position: relative;
      color: var(--Text1, #505e86);
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 8px;

      span {
        position: absolute;
        top: 7px;
        color: #1540bd;
      }

      ion-progress-bar {
        --background: #b1c3cb;
        --progress-background: linear-gradient(
          266deg,
          #1540bd 0%,
          #1786ed 100%
        );
        border-radius: 10px;
      }
    }
  }
}
