<ion-content [fullscreen]="true">
  <app-header-with-back [title]="'Operation Setting'"></app-header-with-back>
  <ion-card>
    <ion-text class="card-text">Attendance Punch In Time</ion-text><br />
    <ion-grid>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="5">
          <ion-text class="card-text-details">Start Time </ion-text></ion-col
        >

        <ion-col class="time" size="4"> 9:00 AM </ion-col>
        <ion-col size="2">
          <ion-img
            class="history-icon"
            src="assets/history.svg"
            alt="history-icon"
          ></ion-img
        ></ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="5">
          <ion-text class="card-text-details">End Time </ion-text></ion-col
        >
        <ion-col class="time" size="4"> 10:00 AM </ion-col>
        <ion-col size="2">
          <ion-img
            class="history-icon"
            src="assets/history.svg"
            alt="history-icon"
          ></ion-img
        ></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-text class="Employee-header">Employee Locations</ion-text>

  <div class="ion-padding-horizontal">
    <div class="date_range">
      <span>
        <p>Total Locations : {{allAreas.length}}</p>
      </span>
      <div class="range_date_picker" (click)="addLocation()">
        Add Location
        <img src="assets\LocationManagement\add-location.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="checkbox_container ion-padding-horizontal">
    <ion-grid>
      <ion-accordion-group [multiple]="true">
        <ion-accordion *ngFor="let area of allAreas">
          <ion-item slot="header">
            <ion-label>
              <ion-row
                class="ion-align-items-center ion-justify-content-between"
              >
                <ion-col size="8">{{area.locName}}</ion-col>
                <ion-col size="auto">
                  <div class="toogle">
                    <label class="switch">
                      <input
                        type="checkbox"
                        [checked]="area.active"
                        (click)="updAreaStatus($event, area.id, !area.active)"
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </ion-col>
                <ion-col size="auto" (click)="editDetails($event, area)"
                  ><img src="assets/icon/enable-edit-button.svg" alt="" />
                </ion-col>
                <ion-col
                  size="auto"
                  (click)="toDelete = { id: area.locName }; showConfirm = true"
                  ><img src="assets/icon/enable-delete-button.svg" alt="" />
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>

          <div class="" slot="content">
            <ion-row
              *ngIf="allEmpsData.length>0"
              class="ion-justify-content-between ion-align-items-center"
            >
              <ion-col size="3" class="grey_heading">Emp ID</ion-col>
              <ion-col size="6" class="grey_heading">Name</ion-col>
              <ion-col size="3" class="grey_heading">Action </ion-col>
            </ion-row>

            <ion-row
              class="ion-justify-content-between ion-margin-vertical ion-align-items-center no-records"
              *ngIf="allEmpsData.length == 0"
            >
              <ion-col size="3"></ion-col>
              <ion-col size="6">No Employees Registered</ion-col>
              <ion-col size="3"></ion-col>
            </ion-row>

            <ion-row
              *ngFor="let emp of allEmpsData"
              class="ion-justify-content-between ion-align-items-center"
              [ngClass]="{ deActive: emp.areaID !== area.locName }"
            >
              <ion-col class="table" size="3">{{emp.customID}}</ion-col>
              <ion-col class="table" size="6">{{emp.userName}}</ion-col>
              <ion-col class="table" size="3">
                <div class="round">
                  <ion-select
                    [(ngModel)]="area.locName"
                    [ngModelOptions]="{standalone: true}"
                    class="custom-select"
                    [value]="emp.areaID"
                    (ionChange)="updateEmpArea(area.locName ,emp.id)"
                    placeholder="Change Location"
                  >
                    <ion-select-option
                      class=""
                      *ngFor="let area of allAreas"
                      [value]="area.locName"
                    >
                      {{area.locName}}
                    </ion-select-option>
                  </ion-select>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-grid>
  </div>

  <div class="below-space"></div>

  <app-confirmation
    (event)="delArea($event)"
    [show]="showConfirm"
  ></app-confirmation>
</ion-content>
