ion-card {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.62);

  ion-icon {
    color: #1540bd;
    cursor: pointer;
  }

  ion-grid {
    overflow-x: scroll !important;
    overflow-y: hidden;

    .disabled-row {
      color: var(--Text3, #9fa7b2);
      font-size: 14px;
      font-weight: 400;
    }

    .footer-row {
      color: #1540bd;
      font-size: 14px;
      font-weight: 400;
    }

    #view-more:hover {
      background-color: transparent !important;
      cursor: auto !important;
    }

    ion-row {
      color: var(--Text1, #505e86);
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      border-bottom: 1px solid #e0e8f8;
      flex-wrap: nowrap;

      &:hover {
        background-color: #e2e8ee;
      }

      ion-col {
        text-align: left;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        .table-column{
          width: 100%;
          overflow: hidden;
          white-space: pre;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
