<ion-card>
  <div class="container">
    <div class="scrollable is-scrollable">
      <div>
        <table cellpadding="1" cellspacing="1">
          <tr>
            <th *ngFor="let headItem of reportTableActiveColumns; index as i">
              {{headItem.text}}
            </th>
          </tr>
          <tr *ngFor="let bodyItem of reportTableData">
            <td *ngFor="let headItem of reportTableActiveColumns; index as i">
              <div class="table-column" *ngIf="headItem?.isUrl" [routerLink]="bodyItem[reportTableActiveColumns[i]['identifier']]">
                <img class="forward-button" src="assets/icon/forward-button.svg" alt="">
              </div>
              <div class="table-column" *ngIf="!headItem?.isUrl">{{bodyItem[reportTableActiveColumns[i]['identifier']]}}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ion-card>

