ion-content {
  --background: linear-gradient(
    164deg,
    #d5e6ff -0.3%,
    #fff 31.71%,
    #fff 62.19%,
    #c9deff 97.25%
  );

  #report-card {
    border-radius: 16px;
    background: #fff;
    filter: drop-shadow(0px 4px 10px rgba(53, 122, 248, 0.1));
    backdrop-filter: blur(25px);
    margin: 20px 0;

    .text {
      p {
        color: var(--Primary, #1540bd);
        font-size: 16px;
        font-weight: 400;
        text-align: left;
      }

      #sub-text {
        color: var(--Text1, #505e86) !important;
        font-size: 12px !important;
        font-weight: 400;
        text-overflow: clip;
      }
    }

    ion-button[shape="circle"] {
      --border-radius: 50%;
      height: 41px;
      // width: 60px;
      --border-color: #1540bd;
      --border-style: solid;
      --border-width: 2px;

      svg {
        fill: #1540bd;
      }
    }
  }
}
