* {
  box-sizing: border-box;
}

.vendor-container {
  --background: linear-gradient(180deg, #D5E6FF -8.94%, #FFF 27.36%, #FFF 61.93%, #C9DEFF 101.69%);
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-start: 15px;
  --padding-end: 15px;
}

.add-button {
  display: flex;
  justify-content: space-between;

  .design {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    border: 1px solid rgba(206, 211, 241, 0.50);
    background: var(--Text2, #FFF);
    padding: 10px 20px 6px 20px;
    color: var(--Primary, #1540BD);
    font-size: 14px;
    font-weight: 400;
    width: 48%;

    p {
      margin: 0;
    }

    .text {
      padding-top: 1px;
    }
  }

  .account {}

  .role {}
}

ion-col {
  padding: 0;
}

.drop-down-color {
  color: var(--Primary, #1540bd) !important;
}

.wrapper-container {
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(53, 122, 248, 0.1);
  background-color: rgb(254, 254, 254);
  filter: drop-shadow(0px 4px 10px rgba(53, 122, 248, 0.1));
  margin-top: 15px;
}


ion-grid {
  padding-left: 10px;
  padding-right: 10px;

  ion-item {
    --padding-end: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --inner-padding-start: 0px;

    ion-icon {
      --color: #1540BD;
    }
  }

  .label {
    .head {
      color: var(--Primary, #1540bd);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .add-variable {
      display: flex;
      border-radius: 25.938px;
      background: var(--Primary, #1540bd);
      display: flex;
      width: 105px;
      height: 27px;
      padding: 8.3px;
      justify-content: center;
      align-items: center;

      .text {
        color: var(--Text2, #fff);
        font-size: 11px;
        font-weight: 400;
        margin: 0px;
      }

      .img {
        margin-bottom: 0px;
        margin-left: 10px;
        margin-top: 2px;
      }
    }
  }

  .content {
    .actions {
      display: flex;
      justify-content: end;
    }
  }

  .content-container {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e0e8f8;

    .text {
      color: var(--Text1, #505e86);
      font-size: 13px;
      font-weight: 400;
      text-wrap: wrap;
    }

    .type-select {
      font-size: 13px;
      font-weight: 400;
      overflow: hidden;
    }

    .action {
      text-align: right;

      .edit-button {
        img {
          margin-left: 9px;
          margin-right: 9px;
        }
      }
    }
  }

  .content-container:last-child {
    border-bottom: none;
  }

  .disabled-row {
    color: var(--Text3, #9fa7b2);
    font-size: 13px;
    font-weight: 400;
  }

  ion-row {
    color: var(--Text1, #505e86);
    font-size: 13px;
    font-weight: 400;
    background-color: transparent;
    filter: drop-shadow(0px 4px 10px rgba(53, 122, 248, 0.1));
    backdrop-filter: blur(25px);

    ion-col {
      text-overflow: ellipsis;
      text-wrap: nowrap;
    }
  }
}

.switch {
  width: 20px;
  height: 12px;

  input {
    width: 0px;
    height: 15px;
  }

  .slider:before {
    height: 6px;
    width: 6px;
    left: 3px;
    top: 3px;
    bottom: 4px;
    border-radius: 50%;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(9px);
    -ms-transform: translateX(9px);
    transform: translateX(9px);
  }
}

.model {
  --background: white;

  section {
    padding: 15px;
  }

  .header {
    padding: 5px 10px 20px 10px;
    text-align: center;

    .head {
      color: var(--Primary, #1540BD);
      font-size: 20px;
      font-weight: 400;
      padding-top: 8px;
      padding-left: 10px;
    }
  }

  .container {
    ion-input.custom {
      --background: transparent;
      --color: var(--Text3, #9FA7B2);
      --placeholder-color: #ddd;
      --placeholder-opacity: 0.8;
    }

    .Variable {
      margin-bottom: 15px;
    }

    ion-item {
      border-radius: 12px;
      --background: #fff;
      border: 1px solid rgba(206, 211, 241, 0.62);
    }

    .dropdown {
      margin-bottom: 15px;
      height: 48px;
      color: var(--Text3, #9FA7B2);
    }

    .limit {
      display: flex;
      justify-content: space-between;

      .lower {
        width: 48%;
        height: 56px;
      }

      .upper {
        width: 48%;
        height: 56px;
      }
    }

  }

  .tab-bar {
    position: absolute;
    width: calc(100% - 20px);
    bottom: 42%;

    div {
      display: flex;
      justify-content: center;
      background: rgba(168, 205, 255, 0.29);
      align-items: center;
      width: fit-content;
      height: 56px;
      padding: 8px;
      margin-inline: auto;
      backdrop-filter: blur(15px);
      margin-top: 20px;
      border-radius: 60px;
    }

    ion-button {
      display: flex;
      width: fit-content;
      font-size: 14px;
      height: 40px;
      justify-content: center;
      align-items: center;
      --border-radius: 50px;
      --background: #fff;
      --color: #1540bd;
    }

    .active-btn {
      --background: #1540bd !important;
      --color: #fff !important;
      margin-right: 10px;
    }
  }

}

.account-block {
  width: 100%;
  height: 375px;
}

.expense-block {
  width: 100%;
  height: 430px;
}