<ion-content class="vendor-container">
    <app-header headerName="Accounts & Expense"></app-header>
    <section>
        <div class="add-button">
            <div class="account design" id="set-account-modal">
                <p class="text">Add Account</p>
                <p><img src="assets/icon/home.svg" alt=""></p>
            </div>
            <div class="role design"  id="set-expense-modal">
                <p class="text">Add Expense</p>
                <p><img src="assets/icon/plus-blue-color.svg" alt=""></p>
            </div>
        </div>
    </section>
    <div class="wrapper-container">
        <ion-grid>
          <ion-accordion-group
            style="background-color: transparent"
            [multiple]="true"
          >
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label class="label">
                  <ion-row
                    class="ion-justify-content-between ion-align-items-center"
                  >
                    <ion-col size="7" class="head">Accounts</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
              <div slot="content" class="content">
                <ion-row
                  class="disabled-row ion-justify-content-between ion-align-items-center"
                >
                  <ion-col size="5">Name</ion-col>
                  <ion-col size="4">Dispensed</ion-col>
                  <ion-col size="2" class="actions">Actions</ion-col>
                </ion-row>
              </div>
              <div class="content-container" slot="content" *ngFor="let number of [0,1,2,3]" routerLink="/main/settings/account-expense/expense-details">
                <ion-row class="ion-justify-content-between ion-align-items-center">
                  <ion-col size="5" class="text">KOTAK 811</ion-col>
                  <ion-col size="3" class="type-select drop-down-color">₹ 100000</ion-col>
                  <ion-col size="3" class="action">
                    <ion-col><label class="switch">
                      <input type="checkbox" [checked]="true" />
                      <span class="slider round"></span>
                    </label></ion-col>
                    <ion-col class="edit-button"><img src="assets/icon/enable-edit-button.svg" alt=""></ion-col>
                    <ion-col><img src="assets/icon/enable-delete-button.svg" alt=""></ion-col>
                  </ion-col>
                </ion-row>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-grid>
      </div>
      <div class="wrapper-container">
        <ion-grid>
          <ion-accordion-group
            style="background-color: transparent"
            [multiple]="true"
          >
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label class="label">
                  <ion-row
                    class="ion-justify-content-between ion-align-items-center"
                  >
                    <ion-col size="7" class="head">Expense Categories</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
              <div slot="content" class="content">
                <ion-row
                  class="disabled-row ion-justify-content-between ion-align-items-center"
                >
                  <ion-col size="5">Expense Type</ion-col>
                  <ion-col size="4">Default Acc.</ion-col>
                  <ion-col size="2" class="actions">Actions</ion-col>
                </ion-row>
              </div>
              <div class="content-container" slot="content" *ngFor="let number of [0,1,2,3]" routerLink="/main/settings/account-expense/expense-details">
                <ion-row class="ion-justify-content-between ion-align-items-center">
                  <ion-col size="5" class="text">Khuraki</ion-col>
                  <ion-col size="3" class="type-select">KOTAK 811</ion-col>
                  <ion-col size="3" class="action">
                    <ion-col><label class="switch">
                      <input type="checkbox" [checked]="true" />
                      <span class="slider round"></span>
                    </label></ion-col>
                    <ion-col class="edit-button"><img src="assets/icon/enable-edit-button.svg" alt=""></ion-col>
                    <ion-col><img src="assets/icon/enable-delete-button.svg" alt=""></ion-col>
                  </ion-col>
                </ion-row>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-grid>
      </div>

    <ion-modal
  #modal
  trigger="set-expense-modal"
  [initialBreakpoint]="0.62"
  [breakpoints]="[0.62, 0.62, 0.62, 0.62]"
  class="model"
>
    <ng-template>
    <section>
      <header>
        <div class="header">
          <div class="head">Add Expense Type</div>
        </div>
      </header>
      <div class="container">
        <ion-item lines="none" class="Variable">
          <ion-input
            lines="none"
            label="Name of Expense Type"
            class="custom"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
        <ion-item lines="none" class="Variable">
            <ion-input
              lines="none"
              label="₹ Min Dispense limit per shipment"
              class="custom"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>
          <ion-item lines="none" class="Variable">
            <ion-input
              lines="none"
              label="₹ Max Dispense limit per shipment"
              class="custom"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>
        <ion-item class="dropdown">
          <ion-select label="Default Dispense Account">
            <ion-select-option value="Drop Down">Drop Down</ion-select-option>
            <ion-select-option value="Number">Number</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="tab-bar">
        <div>
          <ion-button shape="round" class="active-btn">Submit</ion-button>
          <ion-button shape="round" (click)="modal.dismiss()">Cancel</ion-button>
        </div>
      </div>
    </section>
    </ng-template>
    </ion-modal>
    <ion-modal
  #modal
  trigger="set-account-modal"
  [initialBreakpoint]="0.52"
  [breakpoints]="[0.52, 0.52, 0.52, 0.52]"
  class="model"
>
    <ng-template>
    <section>
      <header>
        <div class="header">
          <div class="head">Add Payment Account</div>
        </div>
      </header>
      <div class="container">
        <ion-item lines="none" class="Variable">
          <ion-input
            lines="none"
            label="Name of Account"
            class="custom"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
        <ion-item lines="none" class="Variable">
            <ion-input
              lines="none"
              label="₹ max limit of Dispense per Shipment"
              class="custom"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>
          <ion-item lines="none" class="Variable">
            <ion-input
              lines="none"
              label="₹ max limit of Dispense per month"
              class="custom"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>
      </div>
      <div class="tab-bar" style="bottom: 52%;">
        <div>
          <ion-button shape="round" class="active-btn">Submit</ion-button>
          <ion-button shape="round" (click)="modal.dismiss()">Cancel</ion-button>
        </div>
      </div>
    </section>
    </ng-template>
    </ion-modal>
</ion-content>