* {
  font-family: "NATS";
}

ion-content {
  --background: linear-gradient(
    180deg,
    #d5e6ff -8.94%,
    #fff 27.36%,
    #fff 61.93%,
    #c9deff 101.69%
  );

  ion-grid {
    ion-col {
      display: flex;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      svg {
        cursor: pointer;

        &:focus {
          border: none;
          outline: none;
        }
      }

      #heading {
        color: var(--Primary, #1540bd);
        font-size: 20px;
        font-weight: 400;
      }

      ion-text {
        color: var(--Buttons, #1659be);
        text-align: right;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  ion-card {
    border-radius: 16px;
    box-shadow: 2px 2px 5px 2px rgba(53, 122, 248, 0.1);
    background-color: rgb(254, 254, 254);
    filter: drop-shadow(0px 4px 10px rgba(53, 122, 248, 0.1));
    backdrop-filter: blur(25px);

    .heading {
      color: var(--Primary, #1540bd);
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 6px;
    }

    ion-item {
      --background: #f0f7ff;
      --border-radius: 16px;
      backdrop-filter: blur(25px);
      --border-width: 0;
      margin: 10px 0;
    }

    ion-input.custom {
      --background: transparent;
      --color: #1540bd;
      --placeholder-color: #ddd;
      --placeholder-opacity: 0.8;
      --border-width: 0;
    }

    ion-accordion-group {
      --background: #f0f7ff;

      ion-item {
        --background: #f0f7ff;
        ion-label {
          --color: #1540bd;
        }
      }

      div {
        background-color: #e6f0ff;

        .head {
          color: #505e86;
        }

        .input-head {
          border-radius: 12px;
          border: 1px solid rgba(206, 211, 241, 0.62);
          background: #fff;
          padding: 10px;
        }

        ion-col {
          color: #1540bd;

          img {
            width: 28px;
            height: 28px;
            border-radius: 1655px;
            object-fit: cover;
            border: 2px solid #1540bd;
            box-shadow: 0px 4px 60px 0px #c6e0ff;
          }
        }

        .input-box {
          display: flex;
          padding: 6px 7px;
          justify-content: space-between;
          align-items: center;
          border-radius: 50px;
          border: 1px solid rgba(206, 211, 241, 0.62);
          background: #fff;

          input {
            background: #fff;
            text-align: left;
            font-size: 14px;
            text-overflow: ellipsis;
            outline: none;
            border: none;
            color: #1540bd;
            width: 90%;

            &:focus {
              outline: none;
              border: none;
            }
          }

          button {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            border-width: 2px;
            background: var(--Primary, #1540bd);
          }
        }

        .upload-row {
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          button {
            padding: 9px 15px;
            border-radius: 44px;
            border: 1px solid rgba(206, 211, 241, 0.62);
            background: #fff;

            span {
              color: var(--Primary, #1540bd);
              font-size: 14px;
              font-weight: 400;
              margin: 0;
            }

            svg {
              margin-inline: 12px;
            }
          }
        }

        .preview-box {
          width: 288px;
          height: 167.707px;
          margin: 20px auto;
          border-radius: 10.537px;
          border: 0.878px solid rgba(206, 211, 241, 0.62);

          img {
            object-fit: cover;
            border-radius: 10.537px;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  .tab-bar {
    width: 332px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-inline: auto;
    border-radius: 60px;
    background: rgba(168, 205, 255, 0.29);
    backdrop-filter: blur(15px);
    margin-top: 20px;

    button {
      display: flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      font-size: 14px;
      background: #fff;
      color: #1540bd;
    }

    .active-btn {
      background: #1540bd !important;
      color: #fff !important;
    }
  }
}

ion-modal ion-content {
  .active {
    background: #1540bd !important;
    color: #fff !important;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
    margin: 40px auto;
  }

  ion-text {
    color: #1540bd;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%; /* 20px */
    letter-spacing: -0.22px;
  }
}
