<ion-card>
  <ion-grid>
    <ion-row class="head ion-justify-content-between ion-align-items-center">
      <ion-col size="auto">Vehicle Type Wise Expenses</ion-col>
      <ion-col size="auto">
        <ion-icon name="calendar-clear-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-searchbar
    class="ion-text-start custom"
    animated="true"
    placeholder="Search Vehicle No."
  ></ion-searchbar>

  <ion-grid>
    <ion-row
      class="disabled-row ion-justify-content-between ion-align-items-center"
    >
      <ion-col size="5">Vehicle Type</ion-col>
      <ion-col size="3">Shipment Cost</ion-col>
      <ion-col size="3">Amount</ion-col>
      <ion-col size="0.75"></ion-col>
    </ion-row>

    <ion-accordion-group [multiple]="true">
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="4">TATA Ace 407</ion-col>
              <ion-col size="3">₹ 3400</ion-col>
              <ion-col size="3">₹ 183400</ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Vehicle Number</ion-col>
            <ion-col size="auto">UP70 UL 5433</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Diesel Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Frieght Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Toll Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Repair Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Other Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Khuraki Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Shipment Cost</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Amount</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
        </div>
      </ion-accordion>

      <ion-accordion value="second">
        <ion-item slot="header">
          <ion-label>
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="4">TATA Ace 407</ion-col>
              <ion-col size="3">₹ 3400</ion-col>
              <ion-col size="3">₹ 183400</ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Vehicle Number</ion-col>
            <ion-col size="auto">UP70 UL 5433</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Diesel Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Frieght Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Toll Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Repair Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Other Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Khuraki Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Shipment Cost</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Amount</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
        </div>
      </ion-accordion>

      <ion-accordion value="third">
        <ion-item slot="header">
          <ion-label>
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="4">TATA Ace 407</ion-col>
              <ion-col size="3">₹ 3400</ion-col>
              <ion-col size="3">₹ 183400</ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Vehicle Number</ion-col>
            <ion-col size="auto">UP70 UL 5433</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Diesel Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Frieght Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Toll Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Repair Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Other Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Khuraki Expense</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Shipment Cost</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">Amount</ion-col>
            <ion-col size="auto">₹ 3400</ion-col>
          </ion-row>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="auto"></ion-col>
      <ion-col style="cursor: pointer" size="auto">
        View More
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
