<ion-content class="vehicle-details" [fullscreen]="true">
  <!-- actions -->
  <header class="ion-padding-vertical">
    <div class="header">
      <div class="img" (click)="goBack()">
        <img src="assets/icon/back-button.svg" alt="" />
      </div>
      <div class="head">{{ accountData.accountName }}</div>
      <div class="row-data-wrapper-container">
        <div class="inner-container">
          <div class="action-button">
            <div class="toogle">
              <label class="switch">
                <input
                  type="checkbox"
                  [checked]="accountData.active"
                  (change)="
                    updAccountStatus(
                      $event,
                      accountData.id,
                      !accountData.active
                    )
                  "
                />
                <span class="slider round"></span>
              </label>
            </div>
            <div (click)="editAccount(accountData)" class="edit-button">
              <img src="assets/icon/enable-edit-button.svg" alt="" />
            </div>
            <div
              (click)="toDelete = { id: accountData.id }; showConfirm = true"
              class="delete"
            >
              <img src="assets/icon/enable-delete-button.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- vehicle-details -->
  <section class="vehicle-info-container">
    <ion-card class="ion-padding">
      <ion-text class="sub-heading">Account Info</ion-text>

      <ion-grid>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col class="col-head" size="auto">Name</ion-col>
          <ion-col size="auto">{{ accountData.accountName }}</ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col class="col-head" size="auto">Max Limit per Shipment</ion-col>
          <ion-col size="auto">₹ {{ accountData.shipmentLimit }}</ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col class="col-head" size="auto">Max Limit per Month</ion-col>
          <ion-col size="auto">₹ {{ accountData.dispenseLimit }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </section>

  <ng-container>
    <app-bar-graph-table
      [heading]="'Expense Wise Dispense'"
    ></app-bar-graph-table>
  </ng-container>
  <ng-container>
    <app-bar-graph-table [heading]="'Month Wise'"></app-bar-graph-table>
  </ng-container>

  <app-voucher
    [heading]="'Shipments Dispense'"
    [search]="'Shipment'"
    [tableData]="tableData"
  ></app-voucher>

  <div class="below-space"></div>

  <app-confirmation
    (event)="deleteAccount($event)"
    [show]="showConfirm"
  ></app-confirmation>
</ion-content>

<!-- <ion-modal
  #modal
  [isOpen]="openExpense"
  [canDismiss]="dismissModal"
  class="model"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
>
  <ng-template>
    <section class="expense-block">
      <header>
        <div class="header">
          <div class="head">Add Expense Type</div>
        </div>
      </header>
      <div class="container">
        <form [formGroup]="expenseForm" (ngSubmit)="addExpense()">
          <ion-item lines="none" class="Variable">
            <ion-input
              lines="none"
              label="Name of Expense Type"
              class="custom"
              formControlName="expenseName"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>
          <ion-item lines="none" class="Variable">
            <ion-input
              lines="none"
              label="₹ Min Dispense limit per shipment"
              class="custom"
              type="number"
              formControlName="minDispense"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>
          <ion-item lines="none" class="Variable">
            <ion-input
              lines="none"
              label="₹ Max Dispense limit per shipment"
              class="custom"
              formControlName="maxDispense"
              type="number"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>
          <ion-item class="dropdown">
            <ion-select
              placeholder="Default Dispense accountData"
              formControlName="accountData"
            >
              <ion-select-option
                *ngFor="let accountData of accountList"
                value="{{ accountData.id }}"
                >{{ accountData.accountName }}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <div class="tab-bar" style="bottom: 5%">
            <div>
              <ion-button shape="round" type="submit" class="active-btn"
                >Submit</ion-button
              >
              <ion-button
                shape="round"
                (click)="
                  openExpense = false; expenseForm.reset(initialExpenseValues)
                "
                >Cancel</ion-button
              >
            </div>
          </div>
        </form>
      </div>
    </section>
  </ng-template>
</ion-modal> -->
