<ion-content class="vendor-container">
  <app-header headerName="Labours"></app-header>
  <section>
    <div class="add-vehicle-wrapper-container">
      <div class="inner-container">
        <div class="label">Create New Labours group's</div>
        <div class="button" id="set-labour-modal">
          <p class="button-name">Add Labours</p>
          <p class="symbol"><img src="assets/icon/plus-button.svg" alt="" /></p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="search-bar">
      <ion-searchbar
        class="ion-text-start custom"
        animated="true"
        (ionInput)="searchLabour($event)"
        placeholder="Search Labours..."
      ></ion-searchbar>
    </div>
  </section>
  <section>
    <div
      class="row-data-wrapper-container"
      *ngFor="
        let labour of filteredLabours?.length ? filteredLabours : labourData
      "
    >
      <div class="inner-container">
        <div class="img">
          <img [src]="labour.labourProfileImg" alt="avatar" />
        </div>
        <div class="data-text">
          <p class="text-name">{{ labour?.labourPartyName }}</p>
          <p class="address">
            <span><img src="assets/icon/notes.svg" alt="" /></span
            ><span class="no">{{ labour?.paymentAcc }}</span> |
            <span class="price">₹ {{ labour?.paymentDispenseLimits }}</span>
          </p>
        </div>
        <div class="action-button">
          <div class="toogle">
            <label class="switch">
              <input
                type="checkbox"
                [checked]="labour?.active"
                (change)="updLabourStatus($event, labour.id, !labour.active)"
              />
              <span class="slider round"></span>
            </label>
          </div>
          <div (click)="editDetails($event, labour)" class="edit-button">
            <img src="assets/icon/enable-edit-button.svg" alt="edit" />
          </div>
          <div
            (click)="toDelete = { id: labour.id }; showConfirm = true"
            class="delete"
          >
            <img src="assets/icon/enable-delete-button.svg" alt="delete" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="below-space"></div>

  <ion-modal
    #modal
    [isOpen]="isModalOpen"
    [canDismiss]="closeModal"
    trigger="set-labour-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
    class="model"
  >
    <ng-template>
      <section>
        <header>
          <div class="header">
            <div class="head">Add Labour Party</div>
          </div>
        </header>
        <form
          [formGroup]="labourForm"
          (ngSubmit)="labourForm.valid && onSubmit()"
        >
          <div class="container">
            <ion-item lines="none" class="Variable">
              <ion-input
                lines="none"
                label="Labor Party Name"
                class="custom"
                required
                formControlName="labourPartyName"
                labelPlacement="floating"
              ></ion-input>
            </ion-item>

            <ion-item lines="none" class="Variable">
              <ion-input
                lines="none"
                label="Payment Dispense Max-limits"
                class="custom"
                required="true"
                formControlName="paymentDispenseLimits"
                labelPlacement="floating"
              ></ion-input>
            </ion-item>

            <ion-item class="dropdown">
              <ion-select
                formControlName="paymentAcc"
                label="Default Payment Account"
              >
                <ion-select-option
                  *ngFor="let method of paymentMethod"
                  [value]="method"
                  >{{ method }}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <div class="container margin-top-0">
              <div class="import-container">
                <div class="import">
                  <ion-button shape="round">
                    <label for="uploadLabourPic">
                      Upload Photo or Logo
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                      >
                        <path
                          d="M3.33268 15.8333H16.666V10H18.3327V16.6667C18.3327 17.1269 17.9596 17.5 17.4993 17.5H2.49935C2.03912 17.5 1.66602 17.1269 1.66602 16.6667V10H3.33268V15.8333ZM10.8327 7.5V13.3333H9.16602V7.5H4.99935L9.99935 2.5L14.9993 7.5H10.8327Z"
                          fill="#1540BD"
                        />
                      </svg>
                    </label>
                  </ion-button>
                  <input
                    type="file"
                    id="uploadLabourPic"
                    (change)="uploadPic($event)"
                    accept="image/x-png,image/gif,image/jpeg"
                    style="display: none"
                  />
                </div>
                <div class="export">
                  <ion-button (click)="removePic()" shape="round">
                    <label>
                      Remove
                      <img src="assets/icon/enable-delete-button.svg" alt="" />
                    </label>
                  </ion-button>
                </div>
              </div>
              <div class="preview-box">
                <img [src]="labourPicSrc" alt="labour-pic-png" />
              </div>
            </div>
          </div>

          <div class="tab-bar">
            <div>
              <ion-button shape="round" type="submit" class="active-btn"
                >Submit</ion-button
              >
              <ion-button
                shape="round"
                (click)="labourForm.reset(); removePic(); isModalOpen = false"
                >Cancel</ion-button
              >
            </div>
          </div>
        </form>
      </section>
    </ng-template>
  </ion-modal>

  <app-confirmation
    (event)="deleteLabourParty($event)"
    [show]="showConfirm"
  ></app-confirmation>
</ion-content>
