<div align="center" class="head">
  <div class="tab-array">
    <ion-button
      (click)="changeTab('vehicles')"
      [ngClass]="{ active: tabStatus.vehicles }"
      shape="round"
    >
      vehicles
    </ion-button>

    <ion-button
      (click)="changeTab('site')"
      [ngClass]="{ active: tabStatus.site }"
      shape="round"
    >
      site
    </ion-button>
  </div>
</div>

<div align="center" class="ion-padding-vertical">
  <app-vehicles *ngIf="tabStatus.vehicles"></app-vehicles>
  <app-site *ngIf="tabStatus.site"></app-site>

</div>
<div class="below-space"></div>
