<ion-content class="vehicle-details" [fullscreen]="true">
  <!-- actions -->
  <header class="ion-padding-vertical">
    <div class="header">
      <div class="img" (click)="goBack()">
        <img src="assets/icon/back-button.svg" alt="" />
      </div>
      <div class="head">Khuraki Expense</div>
      <div class="row-data-wrapper-container">
        <div class="inner-container">
          <div class="action-button">
            <div class="toogle">
              <label class="switch">
                <input
                  type="checkbox"
                  [checked]="expenseData?.active"
                  (change)="updExpenseStatus($event, !expenseData.active)"
                />
                <span class="slider round"></span>
              </label>
            </div>
            <div (click)="editDetails($event)" class="edit-button">
              <img src="assets/icon/enable-edit-button.svg" alt="" />
            </div>
            <div
              (click)="toDelete = { id: expenseData.id }; showConfirm = true"
              class="delete"
            >
              <img src="assets/icon/enable-delete-button.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- vehicle-details -->
  <section class="vehicle-info-container">
    <ion-card class="ion-padding">
      <ion-text class="sub-heading">Expense Info</ion-text>

      <ion-grid>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col class="col-head" size="auto">Name</ion-col>
          <ion-col size="auto">{{ expenseData.name }}</ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col class="col-head" size="auto">Chassis Number</ion-col>
          <ion-col size="auto">{{ expenseData.chassisNo }}</ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col class="col-head" size="auto">Engine Number</ion-col>
          <ion-col size="auto">{{ expenseData.engineNo }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </section>

  <app-day-wise-summary></app-day-wise-summary>

  <app-voucher></app-voucher>

  <div class="below-space"></div>

  <app-confirmation
    (event)="deleteExpense($event)"
    [show]="showConfirm"
  ></app-confirmation>
</ion-content>
