<!-- Header section -->
<div class="background">
  <!-- User info card -->
  <div class="user-info">
    <div class="btn-container">
      <div class="below-btn">
        <ion-button size="small" shape="round" color="white" class="btns-3" (click)="navigateToHistoryEmployee()">
          <ion-icon
            style="padding-left: 15px"
            slot="end"
            src="assets\history.svg "
          ></ion-icon>
          History
        </ion-button>
        <ion-button shape="round" size="small" class="btns-4"  (click)="navigateToMarkAttendance()">
          Mark Attendance
        </ion-button>
      </div>
    </div>

    <app-donut-chart></app-donut-chart>

    <!-- All Emoloyee Attendance Status Card -->

    <ion-card class="employee-attendance-wrapper">
      <ion-card-title
        style="color: #1540bd; font-size: 20px; padding: 10px 0 3% 4.5%"
        >All Employee Attendance Status</ion-card-title
      >

      <!-- Added Search Bar -->
      <div class="searchbar-wrapper">
        <ion-searchbar
          (ionInput)="searchEmps($event)"
          placeholder="Search Employee"
        ></ion-searchbar>
      </div>
      <div class="employee-card">
        <div class="employee-card-1">
          <p class="p-color">Employee Name</p>
        </div>
        <div class="employee-card-2"><p class="p-color">Status</p></div>
      </div>
      <div
        *ngFor="let emp of filteredEmps; index as i;"
        class="employee-name-wrapper-1"
      >
        <p>{{emp.userName}}</p>
        <ion-button
          class="present"
          [style.color]="getPresentDetail(emp.id)"
          [style.border.color]="getPresentDetail(emp.id)"
          size="small"
          shape="round"
          >{{getPresentStatus(emp.id)}}</ion-button
        >
      </div>
      <span class="see-more">View More...</span>
    </ion-card>
  </div>
</div>



