ion-col {
  color: var(--Text1, #505e86);

  ion-card {
    width: 155px;
    height: fit-content;
    box-shadow: 2px 2px 5px 2px rgba(53, 122, 248, 0.1);

    background-color: rgba(255, 255, 255, 0.62);
    border: 1px solid rgba(206, 211, 241, 0.5);
    filter: drop-shadow(0px 4px 10px rgba(53, 122, 248, 0.1));
    backdrop-filter: blur(25px);
    border-radius: 16px;
    padding-top: 10px;

    #Voucher,
    #Attached {
      color: #f2825c;
      font-size: 20px;
      font-weight: 400;
    }

    #Amount,
    #Owned {
      color: #29d25f;
      font-size: 20px;
      font-weight: 400;
    }

    p {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
    }

    ion-row {
      ion-col {
        font-size: 14px;
        font-weight: 400;
      }

      #Attached,
      #Owned {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  ion-col {
    ion-card {
      width: fit-content;
      margin: 0;
      padding: 10px 7.7px;
    }
  }
}
