<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="auto">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col id="nav" size="auto">
            <svg
              xmlns="https://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 26 26"
              fill="none"
              (click)="goBack()"
            >
              <path
                d="M11.7301 13.0008L17.0924 18.3629L15.5603 19.895L8.66602 13.0008L15.5603 6.10645L17.0924 7.63851L11.7301 13.0008Z"
                fill="#1540BD"
              />
            </svg>
          </ion-col>
          <ion-col size="auto">
            <div>
              <ion-text id="heading"> Import ZMM </ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="ion-padding">
    <!-- Last Shipment Details -->
    <p class="heading">Last Uploaded Recieving Details</p>

    <ion-grid id="shipment-details" class="ion-margin-bottom">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="col-head" size="auto">Shipment ID :</ion-col>
        <ion-col size="auto">1000010</ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="col-head" size="auto">Date :</ion-col>
        <ion-col size="auto">7th April</ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="col-head" size="auto"
          >Time of Uploaded of ZMM File :</ion-col
        >
        <ion-col size="auto">10:30 AM</ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="col-head" size="auto">Uploaded By :</ion-col>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col size="auto">
            <img [src]="config.url.defaultProfile" alt="Atul Singh" />
          </ion-col>
          <ion-col size="auto">Atul Singh</ion-col>
        </ion-row>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- Recent Added Recievings -->
  <ion-card class="recent-shipments">
    <ion-grid>
      <ion-row class="head ion-justify-content-between ion-align-items-center">
        <ion-col size="auto">Recent Added Recievings</ion-col>
        <ion-col size="auto"> </ion-col>
      </ion-row>
    </ion-grid>

    <ion-searchbar
      class="ion-text-start custom"
      animated="true"
      (ionInput)="searchRecievings($event)"
      placeholder="Search Shipments..."
    ></ion-searchbar>

    <ion-grid>
      <ion-row
        class="disabled-row ion-justify-content-between ion-align-items-center"
      >
        <ion-col size="3.5">Vehicle No</ion-col>
        <ion-col size="3">Gate Entry No</ion-col>
        <ion-col size="5.5">Supplier Name</ion-col>
      </ion-row>

      <ion-row
        class="ion-justify-content-between ion-align-items-center"
        *ngFor="let receiving of filteredRecievings; index as i"
        [ngClass]="{ 'd-none': i > 4 }"
      >
        <ion-col size="3.5">{{ receiving.vehicleNo }}</ion-col>
        <ion-col size="3">{{ receiving.gateEntryNo }}</ion-col>
        <ion-col size="5.5">{{ receiving.supplierName }}</ion-col>
      </ion-row>

      <!-- <ion-row class="ion-justify-content-end ion-align-items-center">
        <ion-col class="see-more" (click)="showMoreShipments" size="auto">See more</ion-col>
      </ion-row> -->

      <ion-row
        class="ion-justify-content-between ion-align-items-center no-records"
        *ngIf="filteredRecievings.length == 0"
      >
        <ion-col size="4"></ion-col>
        <ion-col size="5">No Records Found</ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- Recent Added Files -->
  <ion-card class="recent-shipments">
    <ion-grid>
      <ion-row class="head ion-justify-content-between ion-align-items-center">
        <ion-col size="auto">Recent Added ZMM Files</ion-col>
        <ion-col size="auto"> </ion-col>
      </ion-row>
    </ion-grid>

    <ion-searchbar
      class="ion-text-start custom"
      animated="true"
      (ionInput)="searchRecievings($event)"
      placeholder="Search Files..."
    ></ion-searchbar>

    <ion-grid>
      <ion-row
        class="disabled-row ion-justify-content-between ion-align-items-center"
      >
        <ion-col size="5">File Name</ion-col>
        <ion-col size="4">Date of Upload</ion-col>
        <ion-col size="2.5">User</ion-col>
      </ion-row>

      <ion-row
        class="ion-justify-content-between ion-align-items-center"
        *ngFor="let file of fileDetails; index as i"
        [ngClass]="{ 'd-none': i > 4 }"
      >
        <ion-col size="5">{{ file.fileName }}</ion-col>
        <ion-col size="4">{{ file.createdAt }}</ion-col>
        <ion-col size="2.5">{{ file.user }}</ion-col>
      </ion-row>

      <!-- <ion-row class="ion-justify-content-end ion-align-items-center">
        <ion-col class="see-more" (click)="showMoreShipments" size="auto">See more</ion-col>
      </ion-row> -->

      <ion-row
        class="ion-justify-content-between ion-align-items-center no-records"
        *ngIf="filteredRecievings.length == 0"
      >
        <ion-col size="4"></ion-col>
        <ion-col size="5">No Records Found</ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div class="tab-bar">
    <ion-button shape="round" class="active-btn">
      <label for="uploadZSD">Select ZMM File</label>
    </ion-button>
    <input
      type="file"
      id="uploadZSD"
      accept=".xlsx, .xls, .csv"
      (change)="uploadExcel($event)"
      style="display: none"
    />
    <ion-button (click)="goBack()" shape="round">Suspend</ion-button>
  </div>

  <div class="below-space"></div>
</ion-content>
