<ion-card>
  <ion-grid>
    <ion-row class="head ion-justify-content-between ion-align-items-center">
      <ion-col size="auto">Expenses So Far vs Avg (₹)</ion-col>
      <ion-col size="auto">
        <ion-icon name="calendar-clear-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-searchbar
    class="ion-text-start custom"
    animated="true"
    placeholder="Search Vehicle No."
  ></ion-searchbar>

  <ion-grid>
    <div>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="auto">Total Expense</ion-col>
        <ion-col size="auto">₹ 19000</ion-col>
      </ion-row>
      <span style="left: 35%">₹ 23500</span>
      <ion-progress-bar value=".35"></ion-progress-bar>
    </div>

    <div>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="auto">Khuraki</ion-col>
        <ion-col size="auto">₹ 19000</ion-col>
      </ion-row>
      <span style="left: 55%">₹ 23500</span>
      <ion-progress-bar value=".55"></ion-progress-bar>
    </div>

    <div>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="auto">Frieght</ion-col>
        <ion-col size="auto">₹ 19000</ion-col>
      </ion-row>
      <span style="left: 25%">₹ 23500</span>
      <ion-progress-bar value=".25"></ion-progress-bar>
    </div>

    <div>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="auto">Tolls</ion-col>
        <ion-col size="auto">₹ 19000</ion-col>
      </ion-row>
      <span style="left: 60%">₹ 23500</span>
      <ion-progress-bar value=".6"></ion-progress-bar>
    </div>

    <div>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="auto">Repairs</ion-col>
        <ion-col size="auto">₹ 19000</ion-col>
      </ion-row>
      <span style="left: 40%">₹ 23500</span>
      <ion-progress-bar value=".4"></ion-progress-bar>
    </div>

    <div>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="auto">Others</ion-col>
        <ion-col size="auto">₹ 19000</ion-col>
      </ion-row>
      <span style="left: 20%">₹ 23500</span>
      <ion-progress-bar value=".2"></ion-progress-bar>
    </div>
  </ion-grid>
</ion-card>
