ion-card {
  border-radius: 50px;
  height: fit-content;
  box-shadow: 2px 2px 5px 2px rgba(53, 122, 248, 0.1);
  background-color: rgb(254, 254, 254);
  filter: drop-shadow(0px 4px 10px rgba(53, 122, 248, 0.1));
  backdrop-filter: blur(25px);

  .upload-text {
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    flex-direction: column;
    color: var(--Primary, #1540bd);
    font-size: 14px;
    font-weight: 500;
  }

  ion-button {
    width: 125px;
    height: fit-content;
    color: #fff;

    --background: #1540bd;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

    --ripple-color: #c9deff;

    --padding-top: 16px;
    --padding-bottom: 16px;

    label {
      cursor: pointer;

      svg {
        margin-left: 6px;
      }
    }
  }
}
