* {
  box-sizing: border-box;
}

.wrapper-settings {
  --background: linear-gradient(
    180deg,
    #d5e6ff -8.94%,
    #fff 27.36%,
    #fff 61.93%,
    #c9deff 101.69%
  );

  .head {
    width: 100%;
    height: 129px;
    border-radius: 0px 0px 8px 8px;
    background: rgba(234, 243, 255, 0.75);
    backdrop-filter: blur(15px);

    .user-settings {
      .role {
        color: #1540BD;
      }
      .profile-created-text {
        color: #9FA7B2;
        font-size: 12px;
      }
      .user-profile {
        display: flex;
        justify-content: center;
        align-items: baseline;

        .user-avatar {
          width: 180px;
          height: 184px;
          background-color: transparent;
          border-radius: 50%;
          border: 2px solid #1540bd;
          box-shadow: 0px 4px 30px 0px #c6e0ff;

          img {
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        svg {
          cursor: pointer;
        }
      }

      #user-name {
        color: var(--Primary, #1540bd);
        text-align: center;
        font-size: 26px;
        font-weight: 400;
        margin-top: 10px;
      }

      p {
        color: var(--Text1, #505e86);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
      }

      ion-button {
        width: fit-content;
        height: fit-content;
        color: #fff;
        font-size: 14px;
        font-weight: 400;

        --background: #1540bd;
        --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

        --ripple-color: #c9deff;

        --padding-top: 16px;
        --padding-bottom: 16px;

        ion-icon {
          cursor: pointer;
          margin-left: 10px;
        }
      }

      ion-card {
        border-radius: 12px;
        border: 1px solid rgba(206, 211, 241, 0.5);
        background: rgba(234, 242, 255, 0.61);
        box-shadow: 0px 4px 10px 0px rgba(53, 122, 248, 0.1);
        backdrop-filter: blur(25px);

        p {
          display: flex;
          align-items: center;
          padding: 14px;
          color: var(--Primary, #1540bd);
          cursor: pointer;
          font-feature-settings: "clig" off, "liga" off;
          font-size: 14px;
          font-weight: 500;
          border-bottom: 1px solid #e8dede;

          svg {
            margin-inline: 15px;
          }
        }
      }
    }
  }
}

.model{
  --background: white;
  section{
    padding: 15px; 
  }

  .img{
    text-align: center;
    margin-top: 25px;

    .text{
      color: var(--Primary, #1540BD);
      font-weight: 400;
      font-size: 20px;
      margin-top: 10px;
    }
  }
  
  .tab-bar {
    div{
      display: flex;
      justify-content: center;
      background: rgba(168, 205, 255, 0.29);
      align-items: center;
      width: fit-content;
      height: 56px;
      padding: 8px;
      margin-inline: auto; 
      backdrop-filter: blur(15px);
      margin-top: 20px;
      border-radius: 60px;
    }

    ion-button {
      display: flex;
      width: fit-content;
      font-size: 14px;
      height: 40px;
      justify-content: center;
      align-items: center;
      --border-radius: 50px;
      --background: #fff;
      --color: #1540bd;
      text-transform: none;
    }

    .active-btn {
      --background: #1540bd !important;
      --color: #fff !important;
      margin-right: 10px;
    }
  }
}

.logout-block {
  width: 100%;
  height: 320px;
}