<ion-content class="wrapper-home" [fullscreen]="true">
  <div align="center" class="head ion-padding">
    <app-head-user-bar [isHome]="true"></app-head-user-bar>
    <div class="tab-array ion-padding-vertical">
      <ion-button 
        (click)="changeTab('recieving')"
        [ngClass]="{ active: tabStatus.recieving }"
        shape="none"
      >
        Recieving
      </ion-button>

      <ion-button 
        (click)="changeTab('operations')"
        [ngClass]="{ active: tabStatus.operations }"
        shape="none"
      >
        Operations
      </ion-button>

      <ion-button 
        (click)="changeTab('dispatch')"
        [ngClass]="{ active: tabStatus.dispatch }"
        shape="none"
      >
        Dispatch
      </ion-button>
    </div>
  </div>

  <div align="center" class="ion-padding-vertical">
    <app-vendors *ngIf="tabStatus.recieving"></app-vendors>
    <app-vehicles *ngIf="tabStatus.operations"></app-vehicles>
    <app-shipments *ngIf="tabStatus.dispatch"></app-shipments>
  </div>
  <div class="below-space"></div>
</ion-content>
