<ion-content class="vendor-container ion-vehicle-page">
  <app-header headerName="{{ vehicleCat?.categoryName }}"></app-header>

  <section>
    <div class="add-vehicle-wrapper-container">
      <div class="inner-container">
        <div class="label">Create New Vehicle</div>
        <div class="button" (click)="openAddVehicleForm()">
          <p class="button-name">Add Vehicle</p>
          <p class="symbol"><img src="assets/icon/plus-button.svg" alt="" /></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="search-bar">
      <ion-searchbar
        class="ion-text-start custom"
        animated="true"
        (ionInput)="searchVehicle($event)"
        placeholder="Search Vehicles..."
      ></ion-searchbar>
    </div>
  </section>

  <section>
    <div
      class="row-data-wrapper-container"
      *ngFor="let vehicle of filteredVehiclesData"
    >
      <div class="inner-container">
        <div (click)="openVehiclesDetails(vehicle)" class="data-text">
          <p class="text-name">{{ vehicle?.registrationNo }}</p>
          <p class="address">
            <span class="address-name">{{ vehicle?.weightCapacity }} Ton</span>
            | <span class="no">{{ vehicle?.KOTCapacity }} Shipments</span> |
            <span class="price">₹ {{ vehicle?.fuelVoucherLmt }}</span>
          </p>
        </div>
        <div class="action-button">
          <div class="toogle">
            <label class="switch">
              <input
                type="checkbox"
                [checked]="vehicle.active"
                (change)="updVehicleStatus($event, vehicle.id, !vehicle.active)"
              />
              <span class="slider round"></span>
            </label>
          </div>
          <div (click)="editDetails($event, vehicle)" class="edit-button">
            <img src="assets/icon/enable-edit-button.svg" alt="" />
          </div>
          <div
            (click)="toDelete = { id: vehicle.id }; showConfirm = true"
            class="delete"
          >
            <img src="assets/icon/enable-delete-button.svg" alt="" />
          </div>
          <div class="forward-icon">
            <ion-col size="0.75">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="below-space"></div>

  <app-confirmation
    (event)="deleteVehicle($event)"
    [show]="showConfirm"
  ></app-confirmation>
</ion-content>
