<div align="center" class="head">
  <div class="tab-array">
    <ion-button
      (click)="changeTab('vendors')"
      [ngClass]="{ active: tabStatus.vendors }"
      shape="round"
    >
      vendors
    </ion-button>

    <ion-button
      (click)="changeTab('suppliers')"
      [ngClass]="{ active: tabStatus.suppliers }"
      shape="round"
    >
      suppliers
    </ion-button>
  </div>
</div>

<div align="center" class="ion-padding-vertical">
  <app-vendors *ngIf="tabStatus.vendors"></app-vendors>
  <app-suppliers *ngIf="tabStatus.suppliers"></app-suppliers>
</div>
<div class="below-space"></div>
